---
title: "Project One | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/creative_creation/"
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
    <div class="cs-container">
        <span class="cs-int-title">Creative Direction</span>
        <div class="cs-breadcrumbs">
            <a href="/index/" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">Creative Direction</a>
        </div>
    </div>
    <!--Background Image-->

    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/ferrysWheel.JPG' | resize({ width: 640, height: 728})  | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/ferrysWheel.JPG' | resize({ width: 640, height: 728}) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/ferrysWheel.JPG' | resize({ width: 640, height: 728}) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/ferrysWheel.JPG' | resize({ width: 1202, height: 728}) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/ferrysWheel.JPG' | resize({ width: 1202, height: 728}) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/ferrysWheel.JPG' | resize({ width: 1202, height: 728}) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/ferrysWheel.JPG' | resize({ width: 1824 , height: 870 }) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/ferrysWheel.JPG' | resize({ width: 1824 , height: 870 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/ferrysWheel.JPG' | resize({ width: 1824 , height: 870 }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl '/assets/images/JPG/ferrysWheel.JPG' | resize({ width:1280 , height: 568}) | jpeg %}" alt="library" width="1280 " height="568 " loading="eager" decoding="async">
    </picture>
    <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="var(--maskBG)"/>
    </svg>
</div>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-48">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Et orci volutpat, back up generator installations</h2>
        </div>
        <div class="cs-image-group">
            <div class="cs-row cs-row-1">
                <!-- Row 1-->
                <picture class="cs-picture cs-picture-1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/3jades.jpg' | resize({ width:181, height:249})  | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/3jades.jpg' | resize({ width:181, height:249}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/3jades.jpg' | resize({ width:181, height:249}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/3jades.jpg' | resize({ width:363 , height:468}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/3jades.jpg' | resize({ width:363 , height:468}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/3jades.jpg' | resize({ width:363 , height:468}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/3jades.jpg' | resize({ width:635, height:798}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/3jades.jpg' | resize({ width:635, height:798}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/3jades.jpg' | resize({ width:635, height:798}) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl '/assets/images/JPG/3jades.jpg' | resize({ width:420, height: 567 }) | jpeg %}" alt="library" width="420" height="567" loading="lazy" decoding="async">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/jadeBlackAndWhite.jpg' | resize({ width:181, height:277})  | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/jadeBlackAndWhite.jpg' | resize({ width:181, height:277}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/jadeBlackAndWhite.jpg' | resize({ width:181, height:277}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/jadeBlackAndWhite.jpg' | resize({ width:363 , height:520}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/jadeBlackAndWhite.jpg' | resize({ width:363 , height:520}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/jadeBlackAndWhite.jpg' | resize({ width:363 , height:520}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/jadeBlackAndWhite.jpg' | resize({ width:635, height:886}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/jadeBlackAndWhite.jpg' | resize({ width:635, height:886}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/jadeBlackAndWhite.jpg' | resize({ width:635, height:886}) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl '/assets/images/JPG/jadeBlackAndWhite.jpg' | resize({ width:420, height: 630 }) | jpeg %}" alt="library" width="420" height="630" loading="lazy" decoding="async">  </picture>

                <picture class="cs-picture cs-picture-3">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/JadeOnTopOfCar.JPG' | resize({ width:181, height:225})  | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/JadeOnTopOfCar.JPG' | resize({ width:181, height:225}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/JadeOnTopOfCar.JPG' | resize({ width:181, height:225}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/JadeOnTopOfCar.JPG' | resize({ width:363 , height:423}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/JadeOnTopOfCar.JPG' | resize({ width:363 , height:423}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/JadeOnTopOfCar.JPG' | resize({ width:363 , height:423}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/JadeOnTopOfCar.JPG' | resize({ width:635, height:721}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/JadeOnTopOfCar.JPG' | resize({ width:635, height:721}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/JadeOnTopOfCar.JPG' | resize({ width:635, height:721}) | jpeg %}" type="image/jpeg">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/JPG/JadeOnTopOfCar.JPG' | resize({ width:420, height:512})  | avif %}" type="image/avif" alt="building a new wall" width="420" height="512">
                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <picture class="cs-picture cs-picture-1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/holdingRose.jpg' | resize({ width:181, height:249})  | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/holdingRose.jpg' | resize({ width:181, height:249}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/holdingRose.jpg' | resize({ width:181, height:249}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/holdingRose.jpg' | resize({ width:363 , height:407}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/holdingRose.jpg' | resize({ width:363 , height:407}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/holdingRose.jpg' | resize({ width:363 , height:407}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/holdingRose.jpg' | resize({ width:635, height:693}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/holdingRose.jpg' | resize({ width:635, height:693}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/holdingRose.jpg' | resize({ width:635, height:693}) | jpeg %}" type="image/jpeg">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/JPG/holdingRose.jpg' | resize({ width:420, height:492})  | avif %}" type="image/avif" alt="building a new wall" width="420" height="492">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/burningRose.JPG' | resize({ width:181, height:227})  | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/burningRose.JPG' | resize({ width:181, height:227}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/burningRose.JPG' | resize({ width:181, height:227}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/burningRose.JPG' | resize({ width:363 , height:427}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/burningRose.JPG' | resize({ width:363 , height:427}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/burningRose.JPG' | resize({ width:363 , height:427}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/burningRose.JPG' | resize({ width:635, height:728}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/burningRose.JPG' | resize({ width:635, height:728}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/burningRose.JPG' | resize({ width:635, height:728}) | jpeg %}" type="image/jpeg">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/JPG/burningRose.JPG' | resize({ width:420, height:517})  | avif %}" type="image/avif" alt="building a new wall" width="420" height="517">

                </picture>
                <picture class="cs-picture cs-picture-3">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/walkingAway.JPG' | resize({ width:181, height:277})  | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/walkingAway.JPG' | resize({ width:181, height:277}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/walkingAway.JPG' | resize({ width:181, height:277}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/walkingAway.JPG' | resize({ width:363 , height:520}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/walkingAway.JPG' | resize({ width:363 , height:520}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/walkingAway.JPG' | resize({ width:363 , height:520}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/walkingAway.JPG' | resize({ width:635, height:886}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/walkingAway.JPG' | resize({ width:635, height:886}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/walkingAway.JPG' | resize({ width:635, height:886}) | jpeg %}" type="image/jpeg">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/JPG/walkingAway.JPG' | resize({ width:420, height:629})  | avif %}" type="image/avif" alt="building a new wall" width="420" height="629">


                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture-1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/camera.JPG' | resize({ width:181, height:275})  | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/camera.JPG' | resize({ width:181, height:275}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/camera.JPG' | resize({ width:181, height:275}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/camera.JPG' | resize({ width:363 , height:516}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/camera.JPG' | resize({ width:363 , height:516}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/camera.JPG' | resize({ width:363 , height:516}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/camera.JPG' | resize({ width:635, height:880}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/camera.JPG' | resize({ width:635, height:880}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/camera.JPG' | resize({ width:635, height:880}) | jpeg %}" type="image/jpeg">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/JPG/camera.JPG' | resize({ width:420, height:625})  | avif %}" type="image/avif" alt="building a new wall" width="420" height="625">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/hero.jpeg' | resize({ width:181, height:199})  | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/hero.jpeg' | resize({ width:181, height:199}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/hero.jpeg' | resize({ width:181, height:199}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/hero.jpeg' | resize({ width:363 , height:374}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/hero.jpeg' | resize({ width:363 , height:374}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/hero.jpeg' | resize({ width:363 , height:374}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/hero.jpeg' | resize({ width:635, height:636}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/hero.jpeg' | resize({ width:635, height:636}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/hero.jpeg' | resize({ width:635, height:636}) | jpeg %}" type="image/jpeg">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/JPG/hero.jpeg' | resize({ width:420, height:452})  | avif %}" type="image/avif" alt="building a new wall" width="420" height="452">
                </picture>
                <picture class="cs-picture cs-picture-3">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/heroSide.jpeg' | resize({ width:181, height:277})  | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/heroSide.jpeg' | resize({ width:181, height:277}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/JPG/heroSide.jpeg' | resize({ width:181, height:277}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/heroSide.jpeg' | resize({ width:363 , height:520}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/heroSide.jpeg' | resize({ width:363 , height:520}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/heroSide.jpeg' | resize({ width:363 , height:520}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/heroSide.jpeg' | resize({ width:635, height:886}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/heroSide.jpeg' | resize({ width:635, height:886}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/JPG/heroSide.jpeg' | resize({ width:635, height:886}) | jpeg %}" type="image/jpeg">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/JPG/heroSide.jpeg' | resize({ width:420, height:629})  | avif %}" type="image/avif" alt="building a new wall" width="420" height="629">
                </picture>

                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
        </div>
        <a href="/contact/" class="cs-button-solid">Get Started</a>
    </div>
</section>

{% include 'sections/cta.html' %}

{% endblock %}