// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2217 {
        padding: var(--sectionPadding);
        background-color: #FDFAF8;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (586/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (24/16rem);
        }

        .cs-list {
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 24px - 32px */
            gap: clamp(1.5rem, 3vw, 2rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: (24/16rem);
        }

        .cs-icon-wrapper {
            /* 60px - 80px */
            width: clamp(3.75rem, 7vw, 5rem);
            height: clamp(3.75rem, 7vw, 5rem);
            border: 1px solid #bababa;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: none;
        }

        .cs-icon {
            width: (32/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: left;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-li-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.8vw, 1rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .74em, resets at desktop */
            font-size: ~"min(2.32vw, .74em)";
            width: (630/16em);
            height: (655/16em);
            display: block;
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                width: (358/16em);
                height: auto;
                background: var(--secondary);
                opacity: 0.2;
                display: block;
                position: absolute;
                top: (144/16em);
                bottom: (178/16em);
                left: (88/16em);
            }
        }

        .cs-picture {
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (305/16em);
            height: auto;
            border: 4px solid #FFFFFF;
            top: 0;
            bottom: (281/16em);
            left: 0;
        }

        .cs-picture2 {
            width: (413/16em);
            height: auto;
            border: 4px solid #FFFFFF;
            top: (271/16em);
            right: 0;
            bottom: 0;
        }

        .cs-picture3 {
            width: (218/16em);
            height: (155/16em);
            top: (84/16em);
            right: (75/16em);
        }

        .cs-graphic {
            /* 131px - 255px */
            width: clamp(5.8175rem, 15vw, 15.9375rem);
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: #fff;
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2217 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
        }

        .cs-content {
            width: 47%;
            align-self: center;
        }

        .cs-li {
            align-items: center;
        }

        .cs-image-group {
            font-size: ~"min(1.2vw, 1em)";
            height: auto;
            flex: none;
            order: 2;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-2217 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-li-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-li-text {
                opacity: 0.8;
            }

            .cs-icon {
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-313 {
        background-color: #f7f7f7;
        .cs-picture1 {
            left: auto;
            right: 0;
        }

        .cs-picture2 {
            right: auto;
            left: 0;
        }

        .cs-quote {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbsr-313 {
        .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbsr-313 {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-1648 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            /* breaks up the contents so they are no longer considered children of the parent and can now be flexboxed and positioned relatrive to the cs-container so we can place the button at the bototm of the section */
            display: contents;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
            margin: 0;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            white-space: nowrap;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            order: 3;
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        }

        .cs-link {
            height: (280/16rem);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:hover {
                .cs-image {
                    &:before {
                        opacity: .5
                    }
                }

                .cs-link-icon {
                    opacity: 1;
                    transform: translateY(0) rotateY(0);
                }
            }
        }

        .cs-image {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 2;
                transition: opacity .3s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }

        .cs-link-icon {
            opacity: 0;
            position: relative;
            z-index: 10;
            transform: translateY(1.5rem) rotateY(90deg);
            transition: opacity .3s, transform .5s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-1648 {
        .cs-content {
            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }

        .cs-gallery {
            grid-template-columns: repeat(12, 1fr);
        }

        .cs-link {
            width: 100%;
            /* 240px - 400px */
            height: clamp(15rem, 30vw, 25rem);
            aspect-ratio: auto;
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-1648 {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1174 {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: (650/16rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            opacity: 0.8;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: center;
            position: relative;

            &:last-of-type {
                &:after {
                    display: none;
                }
            }

            &:nth-of-type(even) {
                &:after {
                    /* scaleX -1 flips it horizontally */
                    transform: rotate(-135deg) scaleX(-1);
                }
            }

            &:after {
                content: "";
                position: relative;
                display: block;
                /* 54px - 84px */
                width: clamp(3.375rem, 6vw, 5.25rem);
                height: clamp(3.375rem, 6vw, 5.25rem);
                margin-top: (20/16rem);
                background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/curved-arrow.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 1;
                transform: rotate(135deg);
            }
        }

        .cs-picture {
            margin-bottom: (24/16rem);
            width: (88/16rem);
            height: (88/16rem);
            border: 1px solid rgba(255, 252, 243, 0.5);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: (40/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (12/16rem) 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-item-p {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            max-width: (342/16rem);
            margin: 0;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }

        .cs-graphic {
            width: (840/16rem);
            height: auto;
            opacity: 0.05;
            position: absolute;
            top: (-80/16rem);
            left: (-80/16rem);
            transform: rotate(-10deg);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1174 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 4;

            &:nth-of-type(1) {
                &:after {
                    transform: rotate(45deg);
                }
            }

            &:nth-of-type(2) {
                &:after {
                    transform: rotate(135deg) scaleX(-1);
                }
            }

            &:after {
                margin: 0;
                position: absolute;
                right: (-48/16rem);
                top: 0;
                transform: rotate(45deg);
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #steps-1174 {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}


/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-2385 {
        padding: var(--sectionPadding);
        background-color: #fff;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: var(--primary);
            opacity: .05;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at Desktop */
            max-width: (700/16rem);
            margin: auto;
            /* 24px - 64px top & bottom */
            /* 16px - 64px left & right */
            padding: clamp(1.5rem, 4vw, 3.75rem) clamp(1rem, 4vw, 3.75rem);
            background-color: #fff;
            border-radius: (16/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (100/16rem);
            overflow: hidden;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 16px - 24px */
            padding: clamp(1rem, 2.15vw, 1.25rem);
            border-radius: (16/16rem);
            overflow: hidden;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            background-color: #fff;
            display: flex;
            grid-column: span 12;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .05;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-quote {
            /* changes to 34px at tablet */
            margin-bottom: (48/16rem);
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: (16/16rem);
        }

        .cs-icon-wrapper {
            width: (62/16rem);
            height: (56/16rem);
            border-radius: (8/16rem);
            background-color: #fff;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .20;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-icon {
            width: (30/16rem);
            height: auto;
            display: block;
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: (32/16rem);
            padding-top: (32/16rem);
            color: var(--bodyTextColor);
            border-top: 1px solid #D2D8DF;
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (50/16rem);
            height: auto;
            border-radius: 50%;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-2385 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: (32/16rem);
        }

        .cs-title {
            margin: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-2385 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-quote {
            min-height: (90/16rem);
            margin-bottom: (34/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-2385 {
            background-color: rgba(0, 0, 0, .2);

            .cs-container {
                background-color: rgba(0, 0, 0, .2);
            }

            .cs-item, .cs-icon-wrapper {
                background-color: var(--dark);
            }

            .cs-header, .cs-review, .cs-name, .cs-job {
                color: var(--bodyTextColotWhite);
            }

            .cs-review, .cs-job {
                opacity: .8;
            }

            .cs-review {
                border-color: rgba(255, 255, 255, .2);
            }
        }
    }
}
