/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-434 {
    background-color: var(--background);
    padding: var(--sectionPadding);

    .cs-button-solid {
      font-size: (16/16rem);
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: (150/16rem);
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 (24/16rem);
      background-color: var(--secondaryAccent);
      color: #fff;
      display: inline-block;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
    .cs-container {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-grid {
      display: grid;
      /* 12 so we can have rows of 3 and rows with 2 50/50 images */
      grid-template-columns: repeat(12, 1fr);
      /* 12px - 30px */
      grid-gap: clamp(0.75rem, 1.5vw, 1.875rem);
      grid-template-rows: repeat(6, 0.34fr);
    }

    .cs-picture {
      border-radius: (8/16rem);
      /* clips corners of img tags */
      border: 1.5px solid var(--secondaryAccent);
      overflow: hidden;
      position: relative;
      display: block;

      img {
        width: 100%;
        height: 100%;
        /* makes image behave like a background image */
        object-fit: cover;
      }
    }

    .cs-picture1 {
      display: none;
    }
    .cs-picture2 {
      grid-column: ~"1 / 9";
      grid-row: ~"1 / 3";
    }
    .cs-picture3 {
      grid-column: ~"9 / 13";
      grid-row: ~"1 / 1";
    }
    .cs-picture4 {
      grid-column: ~"1 / 7";
      grid-row: ~"4 / 5";
    }
    .cs-picture5 {
      grid-column: ~"7 / 13";
      grid-row: ~"4 / 6";
    }
    .cs-picture6 {
      display: none;
    }
    .cs-picture7 {
      grid-column: ~"1 / 5";
      grid-row: ~"3 / 4";
    }
    .cs-picture8 {
      grid-column: ~"5 / 9";
      grid-row: ~"3 / 4";
    }
    .cs-picture9 {
      grid-column: ~"9 / 13";
      grid-row: ~"2 / 4";
    }
    .cs-picture10 {
      grid-column: ~"1 / 7";
      grid-row: ~"5 / 7";
    }
    .cs-picture11 {
      grid-column: ~"7 / 13";
      grid-row: ~"6 / 7";
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-434 {
    padding-left: 0;
    padding-right: 0;
    .cs-grid {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 0.45fr);
    }
    .cs-picture1 {
      border-radius: 0 (8/16rem) (8/16rem) 0;
      display: block;
      grid-column: ~"1 / 3";
      grid-row: ~"1 / 2";
    }
    .cs-picture2 {
      grid-column: ~"3 / 5";
      grid-row: ~"1 / 3";
    }
    .cs-picture3 {
      grid-column: ~"5 / 6";
      grid-row: ~"1 / 1";
    }
    .cs-picture4 {
      border-radius: (8/16rem) 0 0 (8/16rem);
      grid-column: ~"6 / 7";
      grid-row: ~"1 / 1";
    }
    .cs-picture5 {
      display: none;
    }
    .cs-picture6 {
      border-radius: 0 (8/16rem) (8/16rem) 0;
      display: block;
      grid-column: ~"1 / 3";
      grid-row: ~"2 / 4";
    }
    .cs-picture7 {
      grid-column: ~"3 / 4";
      grid-row: ~"3 / 4";
    }
    .cs-picture8 {
      grid-column: ~"4 / 5";
      grid-row: ~"3 / 4";
    }
    .cs-picture9 {
      grid-column: ~"5 / 6";
      grid-row: ~"2 / 4";
    }
    .cs-picture10 {
      border-radius: (8/16rem) 0 0 (8/16rem);
      grid-column: ~"6 / 7";
      grid-row: ~"2 / 4";
    }
    .cs-picture11 {
      display: none;
    }
  }
}

/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #gallery-434 {
    .cs-grid {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(3, 0.4fr);
    }

    .cs-picture4 {
      border-radius: (8/16rem);
    }

    .cs-picture5 {
      border-radius: (8/16rem) 0 0 (8/16rem);
      display: block;
      grid-column: ~"7 / 8";
      grid-row: ~"1 / 3";
    }

    .cs-picture10 {
      border-radius: (8/16rem);
    }

    .cs-picture11 {
      border-radius: (8/16rem) 0 0 (8/16rem);
      display: block;
      grid-column: ~"7 / 8";
      grid-row: ~"3 / 4";
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #gallery-434 {
      background-color: var(--darkBackground);

      .cs-topper {
        color: var(--secondaryAccent);
      }

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-li-text {
        color: var(--bodyTextColorWhite);
      }
    }
  }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-48 {
    background-color: var(--background);
    padding: var(--sectionPadding);
    position: relative;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cs-image-group {
      /* used rem so it doesn't scale with the font size of on parent */
      font-size: ~"min(1.1vw, 1em)";
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      /* 8px - 20px */
      gap: clamp(0.5rem, 2vw, 1.25rem);
    }

    .cs-row {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      /* 8px - 20px */
      gap: clamp(0.5rem, 2vw, 1.25rem);
    }

    .cs-picture {
      width: 100%;
      position: relative;
      display: block;
      border-radius: (8/16rem);
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .cs-row-1 {
      .cs-picture-1 {
        height: (567/16em);
        border: 1.5px solid var(--secondaryAccent);
      }

      .cs-picture-2 {
        height: (629/16em);
        border: 1.5px solid var(--secondaryAccent);
      }

      .cs-picture-3 {
        height: (512/16em);
        border: 1.5px solid var(--secondaryAccent);
      }
    }

    .cs-row-2 {
      .cs-picture-1 {
        height: (492/16em);
        border: 1.5px solid var(--secondaryAccent);
      }

      .cs-picture-2 {
        height: (517/16em);
        border: 1.5px solid var(--secondaryAccent);
      }

      .cs-picture-3 {
        height: (629/16em);
        border: 1.5px solid var(--secondaryAccent);
      }
    }

    .cs-row-3 {
      .cs-picture-1 {
        height: (625/16em);
        border: 1.5px solid var(--secondaryAccent);
      }

      .cs-picture-2 {
        height: (452/16em);
        border: 1.5px solid var(--secondaryAccent);
      }

      .cs-picture-3 {
        height: (629/16em);
        border: 1.5px solid var(--secondaryAccent);
      }
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: var(--secondaryAccent);
      border-radius: (4/16rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: (4/16rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #gallery-48 {
      background-color: var(--darkBackground);

      .cs-topper {
        color: var(--secondaryAccent);
      }

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-li-text {
        color: var(--bodyTextColorWhite);
      }
    }
  }
}


/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1174 {
    padding: var(--sectionPadding);
    background-color: var(--background);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-button-solid {
      font-size: (16/16rem);
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: (150/16rem);
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 (24/16rem);
      background-color: var(--secondaryAccent);
      color: #fff;
      display: inline-block;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: (704/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: (650/16rem);
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-title,
    .cs-text {
      color: var(--bodyTextColor);
    }

    .cs-text {
      opacity: 0.8;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: (20/16rem);
    }

    .cs-item {
      text-align: center;
      list-style: none;
      display: flex;
      grid-column: span 12;
      flex-direction: column;
      align-items: center;
      position: relative;

      &:last-of-type {
        &:after {
          display: none;
        }
      }

      &:nth-of-type(even) {
        &:after {
          /* scaleX -1 flips it horizontally */
          transform: rotate(-135deg) scaleX(-1);
        }
      }

      &:after {
        content: "";
        position: relative;
        display: block;
        /* 54px - 84px */
        width: clamp(3.375rem, 6vw, 5.25rem);
        height: clamp(3.375rem, 6vw, 5.25rem);
        margin-top: (20/16rem);
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/curved-arrow.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        transform: rotate(135deg);
      }
    }

    .cs-picture {
      margin-bottom: (24/16rem);
      width: (88/16rem);
      height: (88/16rem);
      border: 1px solid var(--primaryAccent);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .cs-icon {
      width: (40/16rem);
      height: auto;
      display: block;
    }

    .cs-h3 {
      font-size: (20/16rem);
      line-height: 1.2em;
      text-align: inherit;
      margin: 0 0 (12/16rem) 0;
      color: var(--bodyTextColor);
    }

    .cs-item-p {
      font-size: (16/16rem);
      line-height: 1.5em;
      text-align: inherit;
      max-width: (342/16rem);
      margin: 0;
      color: var(--bodyTextColor);
      opacity: 0.8;
    }

    .cs-graphic {
      width: (840/16rem);
      height: auto;
      opacity: 0.05;
      position: absolute;
      top: (-80/16rem);
      left: (-80/16rem);
      transform: rotate(-10deg);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1174 {
    .cs-container {
      max-width: (1280/16rem);
    }

    .cs-item {
      grid-column: span 4;

      &:nth-of-type(1) {
        &:after {
          transform: rotate(45deg);
        }
      }

      &:nth-of-type(2) {
        &:after {
          transform: rotate(135deg) scaleX(-1);
        }
      }

      &:after {
        margin: 0;
        position: absolute;
        right: (-48/16rem);
        top: 0;
        transform: rotate(45deg);
      }
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #steps-1174 {
      background-color: var(--darkBackground);
      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-item-p{
        color: var(--bodyTextColorWhite);
      }
    }
  }
}

                                