---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2271">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-author">
                <span class="cs-name">Chris Brown</span>
                <span class="cs-job">Wedding Photographer</span>
            </div>
            <h1 class="cs-title">Love to Capture Your Best Moments</h1>
            <p class="cs-text">
                Authentic wedding photography emphasises candid shots that capture real emotions, reactions, and interactions among the couple, their families, and guests.
            </p>
            <div class="cs-video-group">
                <div class="cs-wrapper">
                    <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a image instead of a video. Don't forget to remove the cs-play button!-->
                    <!-- <video loading="lazy" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Videos/gym.mp4" autoplay="false"></video> -->
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/photography-video.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/photography-video.jpg">
                        <img loading="lazy" decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/photography-video.jpg" alt="body builder" width="630" height="877">
                    </picture>

                </div>
            </div>
        </div>
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/photography-hero.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/photography-hero.jpg">
            <img loading="lazy" decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/photography-hero.jpg" alt="photographer" width="1280" height="568">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-2271">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/flower.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    <h3 class="cs-h3">
                        Perfect Arrangement
                    </h3>
                    <p class="cs-item-text">
                        Choose from our range of Photo booth options, including open-air to suit your wedding
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/meal.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    <h3 class="cs-h3">
                        The Wedding Bliss
                    </h3>
                    <p class="cs-item-text">
                        Choose from our range of Photo booth options, including open-air to suit your wedding
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photo.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    <h3 class="cs-h3">
                        Just The Two of Us
                    </h3>
                    <p class="cs-item-text">
                        Choose from our range of Photo booth options, including open-air to suit your wedding
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/photo.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    <h3 class="cs-h3">
                        Make With Love
                    </h3>
                    <p class="cs-item-text">
                        Choose from our range of Photo booth options, including open-air to suit your wedding
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-2217">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding1.jpg" alt="wedding photoshoot" width="297" height="366">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/photography1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/photography1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/photography1.jpg" alt="photograph of a woman" width="405" height="376">
            </picture>
            <!--Middle image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/children-birthday.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/children-birthday.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/children-birthday.jpg" alt="children's birthday" width="218" height="155">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Welcome to Stitchography</span>
            <h2 class="cs-title">Your Wedding Memory will be More Memorable with Our Photography</h2>
            <p class="cs-text">
                Our expert instructors give you the skills and knowledge to manage process risks and show you how to continuously make your facilities and operations more safe and reliable. PSRG training courses are available online. We have courses on-demand and live instructors for workshops and support. We also provide LIVE instructor-led training courses and onsite training.
            </p>
            <ul class="cs-list">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mechanic2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">We Bring Quality Services</h3>
                        <p class="cs-li-text">
                            We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve enduring results.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mechanic2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Forever Make with Love</h3>
                        <p class="cs-li-text">
                            Interview vetted advisors to find the best fit Lorem ipsum dolor sit amet, consectetur adip perspectives to help our firm iscing elit.
                        </p>
                    </div>
                </li>
            </ul>
            <a href="" class="cs-button-solid">Learn More</a>
        </div>
    </div>
    <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/leaf11.png" alt="leaf" width="255" height="199" aria-hidden="true">
</section>


<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="gallery-1752">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram3.svg" alt="instagram" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Follow Us On Instagram</h3>
                    <span class="cs-hover-text">
                        @stitchgym
                    </span>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-faq-5.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-faq-5.jpg">
                    <img decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-faq-5.jpg" alt="person" width="328" height="400" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram3.svg" alt="instagram" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Follow Us On Instagram</h3>
                    <span class="cs-hover-text">
                        @stitchgym
                    </span>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-faq-1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-faq-1.jpg">
                    <img decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-faq-1.jpg" alt="person" width="328" height="400" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram3.svg" alt="instagram" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Follow Us On Instagram</h3>
                    <span class="cs-hover-text">
                        @stitchgym
                    </span>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-faq-2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-faq-2.jpg">
                    <img decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-faq-2.jpg" alt="person" width="328" height="400" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram3.svg" alt="instagram" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Follow Us On Instagram</h3>
                    <span class="cs-hover-text">
                        @stitchgym
                    </span>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-service-2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-service-2.jpg">
                    <img decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/gym-service-2.jpg" alt="person" width="328" height="400" aria-hidden="true" loading="lazy">
                </picture>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-67">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Reviews</span>
                <h2 class="cs-title">Words From Our Customers</h2>
                <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
            </div>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/newsvgs/profile.svg" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, debitis!
                </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Jon Doe</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/newsvgs/profile.svg" alt="profile picture" width="80" height="80">
                    <p class="cs-item-text">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Jon Doe</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="96" height="16">
                    </div>
                </li>
            </ul>
            <a href="/reviews/" class="cs-button-solid">Read All Reviews</a>
        </div>
    </section>

    {% include 'sections/cta.html' %}
{% endblock %}