---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2271">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-author">
                <span class="cs-name">Jade Webb</span>
                <span class="cs-job">Atlanta Event, Motorsport, and Creative Photographer</span>
            </div>
            <h1 class="cs-title">The Art of Speed. The Power of a Moment.</h1>
            <p class="cs-text">
                From the thrill of the racetrack to the joy of your biggest life events, Blue Lens Photography captures your story with a distinct, creative edge.
            </p>
            <p class="cs-text">
                Based in Marietta, serving the greater Atlanta area, and available for travel nationwide.
            </p>
            <div class="cs-video-group">
                <div class="cs-wrapper">
                    <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a image instead of a video. Don't forget to remove the cs-play button!-->
                    <!-- <video loading="lazy" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Videos/gym.mp4" autoplay="false"></video> -->
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/motorsports/blackPorsche-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/motorsports/blackPorsche.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/motorsports/blackPorsche.webp" alt="body builder" width="630" height="877">
                    </picture>

                </div>
            </div>
        </div>
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/heroImg-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/heroImg.WebP">
            <img loading="eager" decoding="async" src="/assets/images/heroImg.WebP" width="1280" height="568">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-2271">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/contact/" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/party-horn-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    <h3 class="cs-h3">
                        Unforgettable Events
                    </h3>
                    <p class="cs-item-text">
                        From weddings and graduations to corporate parties and concerts, we capture the candid emotions and key moments that make your event unique.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/motorsport/" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/sports-car-svgrepo-com-2.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    <h3 class="cs-h3">
                        Motorsports
                    </h3>
                    <p class="cs-item-text">
                        With a passion for automotive power and design, we create stunning, high-impact images of cars and motorcycles on the track, at a meet, or in a custom setting.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/creative_creation/" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/camera-svgrepo-com-2.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    <h3 class="cs-h3">
                        Visionary Creative Direction
                    </h3>
                    <p class="cs-item-text">
                        Perfect for models, artists, and brands. We collaborate with you to produce freestyle, art-focused sessions that bring your unique creative vision to life.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact/" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/headshot-svgrepo-com-3.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    <h3 class="cs-h3">
                        Confident Professional Headshots
                    </h3>
                    <p class="cs-item-text">
                        Make a powerful first impression. We provide clean, professional headshots that capture your personality and help you stand out in the corporate world.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-2217">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/burningRose.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/burningRose.webp">
                <img loading="lazy" decoding="async" src="/assets/images/burningRose.webp" alt="wedding photoshoot" width="297" height="366">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/3jades.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/3jades.webp">
                <img loading="lazy" decoding="async" src="/assets/images/3jades.webp" alt="photograph of a woman" width="405" height="376">
            </picture>
            <!--Middle image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/motorsports/burnOut.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/motorsports/burnOut.webp">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/motorsports/burnOut.webp" alt="children's birthday" width="218" height="155">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Welcome to Blue Lens Photography</span>
            <h2 class="cs-title">A Unique Aesthetic for Every Shot</h2>
            <p class="cs-text">
                With an artist's eye developed over 9 years, Jade brings a fresh and experimental approach to every project. We're not just taking pictures; we're creating art that feels authentic to you. Our commitment is to deliver exceptional quality and value, ensuring your investment results in images you'll be proud to share.
            </p>
            <ul class="cs-list">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img class= aria-hidden="true" src="/assets/svgs/vision-svgrepo-com.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">A Collaborative Vision</h3>
                        <p class="cs-li-text">
                            Your project is a partnership. We work closely with you from the very first conversation to ensure the final images are a true reflection of your unique style and personality.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img class= aria-hidden="true" src="/assets/svgs/location-svgrepo-com.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">On-Location Expertise</h3>
                        <p class="cs-li-text">
                            We are a fully mobile photography service specializing in capturing stunning images wherever your story takes you—from the racetrack to a remote landscape. We are available to travel for projects nationwide.
                        </p>
                    </div>
                </li>
            </ul>
            <a href="/creative_creation/" class="cs-button-solid">EXPLORE THE PORTFOLIO</a>
        </div>
    </div>
    <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/leaf11.png" alt="leaf" width="255" height="199" aria-hidden="true">
</section>


<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1174">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">OUR PROCESS</span>
            <h2 class="cs-title">From Vision to Final Gallery</h2>
            <p class="cs-text">
                We make professional photography easy and enjoyable with a clear, seamless process.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/idea-svgrepo-com.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Discovery & Consultation</h3>
                <p class="cs-item-p">
                    We begin with a conversation to understand your goals, style, and the story you want to tell. This ensures your final images are a perfect reflection of your vision
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/picture-svgrepo-com.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">The Photoshoot</h3>
                <p class="cs-item-p">
                    Relax and enjoy the experience. Whether on-location or in-studio, we direct a session designed to be comfortable, creative, and capture you in the best light.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/album-svgrepo-com.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Gallery Delivery</h3>
                <p class="cs-item-p">
                    Your professionally edited, high-resolution photos are delivered in a private online gallery, ready to download, share, and treasure for years to come.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-1716">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Explore Our Past Work</h2>
            <!--If you remove the cs-text, the rectangle shape will disappear.  If you need to remove it, transfer the :before and .cs-text:last-of-type styles to the cs-title on mobile and desktop-->
            <p class="cs-text">
                A collection of powerful moments, captivating portraits, and dynamic motion. See the quality and creativity that defines Blue-Lens-Photography.
            </p>
            <a href="" class="cs-button-solid">View All</a>
        </div>
        <div class="cs-gallery">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"
                        srcset="/assets/images/camera-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)"
                        srcset="/assets/images/camera.webp">
                <img loading="lazy" decoding="async"
                     src="/assets/images/camera.webp"
                     width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"
                        srcset="/assets/images/jadeBlackAndWhite-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)"
                        srcset="/assets/images/jadeBlackAndWhite.webp">
                <img loading="lazy" decoding="async"
                     src="/assets/images/jadeBlackAndWhite.webp"
                     width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"
                        srcset="/assets/images/walkingAway.JPG">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)"
                        srcset="/assets/images/walkingAway.JPG">
                <img loading="lazy" decoding="async"
                     src="/assets/images/walkingAway.JPG" alt="picture"
                     width="480" height="549">
            </picture>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<!--
<section id="reviews-2385">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Expert Team</span>
                <h2 class="cs-title">What Clients Are Saying</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-quote">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/quote-gold2.svg" decoding="async" alt="profile" width="30" height="24" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-header">
                        Real Stories,<br> True Growth
                    </span>
                </div>
                <p class="cs-review">
                    “I’ve seen a huge shift in my mindset since starting therapy at InnerPath. My therapist is insightful, warm, and truly listens.”
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/profile1.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Mason James
                        <span class="cs-job">Senior Gardener Farmer</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-quote">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/quote-gold2.svg" decoding="async" alt="profile" width="30" height="24" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-header">
                        Lives<br> Transformed Here
                    </span>
                </div>
                <p class="cs-review">
                    When you think about collecting customer feedback, it’s easy to get overwhelmed by the sheer volume of it. With so many more customers and so many ways to connect with their feedback, it’s hard to know to where to start.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/profile1.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        George Thomas
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-quote">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/quote-gold2.svg" decoding="async" alt="profile" width="30" height="24" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-header">
                        Healing <br>That Lasts
                    </span>
                </div>
                <p class="cs-review">
                    "We came in unsure about couples therapy and left feeling stronger as a team. Our sessions have changed the way we relate to each other."
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/profile1.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Mason James
                        <span class="cs-job">Senior Gardener Farmer</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
-->


{% include 'sections/cta.html' %}
{% endblock %}